*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;

}
ul,ol{
    list-style-type: none;

}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1148px;
    margin: 0 auto;
}

/* Nabbar Start Here */
#navbar{

}
.nav_wrapper{
    display: flex;
    align-items: center;
}
.logo{
    width:20%;
}
.menu{
    width: 60%;
  
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
}
.menu ul li a{
    color: #036E8A;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}
.nav_actions{
    width: 20%;
}
.nav_actions_item{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid  #036E8A ;
}
 /* Nabbar End Here */ 

/* Banner Start Here */
     

/* Banner End Here */ 

